{% extends "layouts/base-fullscreen.html" %}

{% block title %} 403 Error {% endblock %}

{% block content %} 

	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="/static/assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
							<h4 class="mb-3 f-w-400">
                                Error 403    
                            </h4>
                            <p class="mb-2 text-muted">
                                Access Denied - Please <strong>authenticate</strong>.
                            </p>

                            <br />
                            <form action="{{ url_for('base_blueprint.login') }}" >
                                <button class="btn btn-block btn-primary mb-4">LOGIN</button>
                            </form>

                            <p class="mb-2 text-muted">
                                If the issue persists, please contact <a href="#" class="f-w-400">support</a>.
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/waves.min.js"></script>

{% endblock javascripts %} 
